---
import Title from "../components/Title.astro";
import Boton from "./Boton.astro";
---

<section class="flex flex-col justify-center scroll-mt-24 py-12 items-center gap-8 space-y-4">
  <Title titulo="Registrate al Programa de Clientes Preferentes" />
  <div class="flex flex-col md:flex-row gap-8 w-full justify-around">
    <div class=" md:max-w-lg gap-8 flex flex-col justify-center items-center">
      <p>
        <strong>Regístrate al programa de lealtad</strong> de los clientes de Immunotec,
        diseñado no sólo para <strong>recompensar tu lealtad</strong> mediante <strong
          >descuentos y créditos de productos</strong
        >, sino también para <strong
          >premiar a quienes recomiendan nuevos clientes</strong
        > a Immunotec. Disfruta de los siguientes beneficios al registrarte como
        Cliente.
      </p>

      <ul class="list-disc space-y-2 p-4 xl:p-0 text-gray-800">
        <li>
          <strong>Obtén un 25% de descuento</strong> en tus productos favoritos Immunotec
          al pedir un producto en Autoenvío
        </li>
        <li>
          <strong>Tu lealtad</strong> te otorgará <strong
            >premios exclusivos</strong
          >
        </li>
        <li>
          <strong>Invita a nuevos Clientes</strong> y recibe <strong
            >descuentos por tus compras personales</strong
          >
        </li>
        <li><strong>Acceso anticipado</strong> a nuestros nuevos productos</li>
        <li>
          <strong>Acceso exclusivo</strong> a promociones especiales diseñadas únicamente
          para ti
        </li>
      </ul>
    </div>

    <iframe
      title="vimeo-player"
      src="https://player.vimeo.com/video/853844835?h=959f5e4136"
class="min-h-50 md:min-h-80 mx-auto  max-w-lg  h-full w-full"
      frameborder="0"
      referrerpolicy="strict-origin-when-cross-origin"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
      allowfullscreen></iframe>
  </div>
<Boton texto="Conviertete en cliente preferente"/>
</section>
