---
interface Props{
    titulo:string;
    principal?:boolean;
}
const { titulo, principal } = Astro.props;
---
{principal ? 
    <h1 class="font-bold  text-4xl">{titulo}</h1>: <h2 class="font-bold  text-4xl">{titulo}</h2>}

